.acordeon-fila{
	background-color: #212830;

}

.acordeon-fila-boton{
	color: white;
  font-weight: 500;
	font-size: 18px;
}


.encabezado{
	font-family: 'IBM Plex Sans', sans-serif;
	color: #373737;
}

.clase-a:hover{
	cursor: pointer;

}

.envoltorio-foto-raza{
	margin: 0 auto;
	width: 100%;
}

.envoltorio-foto-raza:hover{
	margin-left: -2%;
	width: 104%;
}


.foto-raza{
  width: 100%;
	height: 500px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.foto-raza-res{
  width: 100%;
	height: 300px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
