.boton-volver{
	background:#546A7B;
	border-radius:4px;
	color:#fff;
	padding: 14px 16px;
	font-weight:600;
	font-family:"IBM Plex Sans";

}


.envoltorio-foto-subraza{
	margin: 0 auto;
	width: 100%;
}

/*.envoltorio-foto-raza:hover{
	margin-left: -10%;
	width: 120%;
}*/


.foto-subraza{
	width: 100%;
	height: 400px;
	/* background-image: url(sadie.jpg);
	background-image:linear-gradient(to top right, rgba(0,0,0,0.9), rgba(0,0,200,0.1)), url(sadie.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.foto-subraza-res{
	width: 100%;
	height: 300px;
	/* background-image: url(sadie.jpg);
	background-image:linear-gradient(to top right, rgba(0,0,0,0.9), rgba(0,0,200,0.1)), url(sadie.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
